[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rambala
[access "refs/for/refs/*"]
	read = group user/rambala
	push = group user/rambala
	label-Code-Review = -2..+2 group user/rambala
	label-Verified = -1..+1 group user/rambala
	rebase = group user/rambala
	removeReviewer = group user/rambala
	submit = group user/rambala
[access "refs/heads/*"]
	read = group user/rambala
	create = group user/rambala
	push = +force group user/rambala
	pushMerge = group user/rambala
[access "refs/tags/*"]
	push = group user/rambala
	push = +force group user/rambala
